{{restaurant-detail restaurant=model destroyRestaurant="destroyRestaurant"}}


{{new-review saveReview="saveReview" restaurant=model}}

<h3>Reviews:</h3>
{{#each model.reviews as |review|}}
  {{review-tile review=review}}
{{/each}}
