<div>
  <li class="restaurantTile">
    <h2>{{#link-to 'restaurant' restaurant.id}}{{restaurant.name}}{{/link-to}}</h2> 
    <h4>{{restaurant.location}}</h4>
    <img src="{{restaurant.image}}" alt="{{restaurant.name}}" />
  </li>
</div>
